/*  Uses fixed dimensions of squares
    This will need to be adjusted for responsive versions
*/  

.squareStyle {
	 height: 40px;
	 width: 40px;
	 margin: 0px;
	 display: inline-block;
	 border: solid 3px white;
 }
 
 .rowStyle {
     height: 40px;
     margin: 0px;
     padding: 0px;
 }
 
 #puzzleFlip {
	 background-color: #ffffdd;
	 padding: 100px;
 }
 
 .writing {
	 font-size: 2em;
 }
 
 .highlight {
     border: solid 3px #888888;
 }
 
 header {
     background-color: #ffddff;
 }
 
 .invisible {
     display: none;
 }
 